{
    debug
}

localhost {
    wasm {
        item {
            filepath demo/php/index.php
            builder php
        }
        item {
            filepath ../demo/js/index.wasm
            builder js
        }
        item {
            filepath ../demo/go/plugin.wasm
            configuration {
                body_response "Bonjour! 🥖"
            }
        }
    }

    respond "world"
}
