{
    debug
}

localhost {
    wasm {
        # item {
        #     filepath ../demo/go/plugin.wasm
        #     configuration {
        #         body_response "Bonjour! 🥖"
        #     }
        # }
        item {
            filepath demo/php/index.php
            builder php
            configuration {
                body_response "Bonjour! 🥖"
            }
        }
    }

    respond "world"
}
